* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  background-color: #ebc067;
  display: grid;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.calculator-container {
  background-color: #2e2928;
  width: 40.9vmin;
  height: 68.5vmin;
  margin: auto;
  /* 3D styling */
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  animation-name: container-isometric;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.calculator-container:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40.9vmin;
  height: 3.8vmin;
  background-color: #3a302e;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.calculator-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3.8vmin;
  height: 68.5vmin;
  background-color: #221e1d;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.screen {
  width: 37.6vmin;
  height: 14.1vmin;
  color: #4f473c;
  padding: 0.8vmin;
  display: grid;
  line-height: 1;
  background-color: #a19479;
  margin: 1.8vmin;
  border-radius: 0.8vmin;
  animation-duration: 3000ms;
  animation-name: shadows-isometric;
  animation-timing-function: ease-in-out;
  box-shadow: inset 0.7vmin 0.7vmin #2225;
}

.result-screen,
.computation-screen {
  /* background-color: #e4695b; */
  display: flex;
  justify-content: flex-end;
}

.result-screen {
  font-size: 8.3vmin;
  font-weight: 600;
  border-radius: 0.25vmin 0.25vmin 0 0;
  padding: 1vmin;
  animation-duration: 3000ms;
  animation-name: numbers-shadow-isometric;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(0.6vmin 0.6vmin #2224);
}

.computation-screen {
  font-size: 2.5vmin;
  font-weight: 500;
  border-radius: 0 0 1.5vmin 1.5vmin;
  padding-right: 1.5vmin;
  filter: drop-shadow(0.6vmin 0.6vmin #2223);
}

.keypad {
  background-color: #2e2928;
  height: 50.8vmin;
  position: relative;
  padding: 2.15vmin;
}

.keypad__row {
  height: 9.45vmin;
  width: 100%;
  display: flex;
  color: white;
}

.btn {
  width: 7.6vmin;
  height: 7.6vmin;
  float: left;
  margin: 0.8vmin;
  position: relative;
  font-size: 3.3vmin;
  color: #ccc;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2e2928; */
  transition: 45ms ease-out;
  transform: translateZ(1.7vmin);
  transform-style: preserve-3d;
}

.btn:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7.6vmin;
  height: 1.7vmin;
  background-color: #3a302e;
  transform: rotateX(90deg) translateY(0vmin);
  transform-origin: 0 1.68vmin 0;
}

.btn:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1.7vmin;
  height: 7.6vmin;
  background-color: #221e1d;
  transform: rotateY(-90deg) translateX(0vmin);
  transform-origin: 1.68vmin 0 0;
}

.btn--large {
  width: 16.7vmin;
}

.btn--large:before {
  width: 16.7vmin;
  height: 1.7vmin;
  transform: rotateX(90deg) translateY(0vmin);
  transform-origin: 0 0.5em 0;
}

.btn--large:after {
  width: 1.7vmin;
  height: 7.6vmin;
  transform: rotateY(-90deg) translateX(0vmin);
  transform-origin: 0.5em 0 0;
}

.btn--number {
  background-color: #767269;
  color: #ccc;
}

.btn--number:before {
  background-color: #4c483e;
}

.btn--number:after {
  background-color: #363430;
}

.btn--red {
  background-color: #be2f27;
}

.btn--red:before {
  background-color: #b01c1c;
}

.btn--red:after {
  background-color: #7f1015;
}

.btn:hover {
  color: #ddd;
  /* background-color: #3f3331; */
  cursor: pointer;
}

.btn--number:hover {
  background-color: #87837d;
}

.btn--red:hover {
  background-color: #d5342b;
}

.btn:active {
  transform: translateZ(1.7vmin);
}

.is-depressed {
  /* background-color: #fe6f5e; */
  transform: translateZ(1.7vmin);
}

@keyframes container-isometric {
  from {
    transform: rotateX(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }

  to {
    transform: rotateX(45deg) rotateZ(45deg);
    transform-style: preserve-3d;
  }
}

@keyframes shadows-isometric {
  from {
    box-shadow: inset 0 0 #2225;
  }

  to {
    box-shadow: inset 0.7vmin 0.7vmin #2225;
  }
}

@keyframes numbers-shadow-isometric {
  from {
    filter: drop-shadow(0 0 #2224);
  }

  to {
    filter: drop-shadow(0.6vmin 0.6vmin #2224);
  }
}
