* {
  font-size: 24px;
}

.calculator-container {
  width: 400px;
  height: 700px;
}

.display {
  background-color: rgb(158, 206, 95);
  height: 200px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 500px;
}

.btn {
  color: #fff;
  border: 1px solid rgb(124, 124, 124);
  background-color: #666;
}

.btn:hover {
  background-color: #888;
}

.btn:active {
  background-color: rgb(158, 206, 95);
}

.btn-equal {
  grid-column: span 2;
}

