/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 80vh;
  background-color: #2e2928;
}

.screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;
  color: #222;
  background-color: #fe6f5e;
}

.result-screen {
  height: 19vh;
  font-size: 8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.computation-screen {
  height: 6vh;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keypad {
  height: 55vh;
  width: 100%;
}

.keypad__row {
  height: 11vh;
  width: 100%;
  display: flex;
  color: white;
}

.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: #2e2928;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  color: #9b8f8d;
}
.btn:hover {
  color: #bbb;
  background-color: #fe6f5e;
}
.btn:active {
  transform: scale(.95);
}

.btn--large {
  width: 50%;
  color: #fff;
  background-color: #fe6f5e;
  transition: all .2s;
}
.btn--large:hover {
  background-color: #2e2928;
  color: #fe6f5e;
}

.is-depressed {
  color: #bbb;
  background-color: #fe6f5e;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  background-color: #ebc067;
  display: grid;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.calculator-container {
  background-color: #2e2928;
  width: 400px;
  height: 670px;
  margin: auto;
  /* 3D styling */
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.calculator-container:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 2.3em;
    background-color: #3a302e;
    transform: rotateX(90deg) translateY(-2.35em);
    transform-origin: 0 909% 336px;
}

.calculator-container:after {
  content: "";
  position: absolute;
  width: 2.3em;
  height: 670px;
  background-color: #221e1d;
  transform: rotateY(-90deg) translateX(-2.35em);
  transform-origin: 165% 0 1009px;
}

.screen {
  width: 400px;
  height: 170px;
  color: #222;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.result-screen, .computation-screen {
  background-color: #e4695b;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.result-screen {
  font-size: 4em;
  font-weight: 600;
  border-radius: 0.15em 0.15em 0 0;
}

.computation-screen {
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 0 0 0.5em 0.5em;
}

.keypad {
  background-color: #2e2928;
  height: 500px;
  position: relative;
  padding: 1.25em;
}


.keypad__row {
  height: 92px;
  width: 100%;
  display: flex;
  color: white;
}

.btn {
  width: 2.3em;
  height: 2.3em;
  float: left;
  margin: 0.25em;
  position: relative;
  font-size: 2em;
  color: #9b8f8d;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2928;
  transition: 45ms ease-out;
  transform: translateZ(1em);
  transform-style: preserve-3d;
}

/* .btn {
  width: 2.3em;
  height: 2.3em;
  float: left;
  margin: 0.25em;
  position: relative;
  font-size: 2em;
  color: #9b8f8d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2928;
  transition: 45ms ease-out;
  transform: translateZ(1em);
  transform-style: preserve-3d;
} */

.btn:before {
  content: "";
  position: absolute;
  width: 2.3em;
  height: 1em;
  background-color: #3a302e;
  transform: rotateX(90deg) translateY(0em);
  transform-origin: 0 42px 10px;
}

.btn:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 2.3em;
  background-color: #221e1d;
  transform: rotateY(-90deg) translateX(0em);
  transform-origin: 42px 0 11px;
}

.btn--large {
  width: 5.1em;
}

.btn--large:before {
  width: 5.1em;
  height: 1em;
  transform: rotateX(90deg) translateY(0em);
  transform-origin: 0 132% 11px;
}

.btn--large:after {
  width: 1em;
  height: 2.3em;
  transform: rotateY(-90deg) translateX(0em);
  transform-origin: 201% 0 32px;
}

.btn:hover {
  color: #b2a09c;
  background-color: #3f3331;
  cursor: default;
}

.btn:active {
  transform: translateZ(0.25em)
}

.is-depressed {
  color: #bbb;
  background-color: #fe6f5e;
}